<div id="rpackages">
  <h3>R Packages</h3>

  <p>
    <a href="https://www.r-project.org">R</a> has a variety of existing 
    and pre-built packages that ease the burden of analysis. We will be
    using a few of these packages to complete the lesson taught at this 
    workshop. 
    <br><br>Please only complete this step <strong>AFTER</strong> 
    successfully installing R and Rstudio above
  </p>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="general" href="#rpackages-general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    </ul>

  <div>
    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rpackages-general">
        <p>
        <ol>
            <li>Open RStudio</li>
            <li>In the large window (known as the 'Source Code Panel') type the below commands:
                <p>
                <code>
                # Install the tidyverse package: <br>
                install.packages("tidyverse") <br>
                <br>
                # Install the ggplot2 package <br>
                install.packages("ggplot2") <br>
                <br>
                # install the dplyr package <br>
                install.packages('dplyr') <br>
                
                </code>
                </p>
            </li>
            <li>Run each command by either clicking the 'Run' button located near the top-right of the box where the </li>
        </ol>
        </p>
      </article>
    </div>
  </div>
</div>
